.about-page-container {
  margin-left: 4rem;
  margin-right: 6rem;
  margin-bottom: 8rem;
  padding: 1rem;
}


.about-us h1 {
  font-family: "Recoleta", serif;
  font-weight: 400;
  font-size: 3.6rem;
  margin: 0.5rem 0 1.5rem 7.2rem;
  line-height: 4rem;
}


.about-us p {
  margin: 0 7rem 0.9rem 7rem;
}

.team {
  margin-left: 6rem;
  margin-top: 2rem;
}

.team h2 {
  margin: 1rem 0 0.5rem 1rem;
}

.forms-section {
  margin-left: 8rem;
  margin-top: 2rem;
}

.forms-section h2 {
  margin-top: 3rem;
  margin-left: 6rem;
  font-size: 36px;
}

.forms-section p {
  margin: 2rem 0 2rem 6.2rem;
  font-size: 22px;
}

.forms-section a {
  font-size: 21px;
  color: #76ABDF;
}


.team-members {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  margin: 1rem;
  text-align: center;
}

.team-member img {
  width: 250px;
  height: 300px;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.team-member img:hover {
  transform: rotate(2deg);
}

@media (max-width: 768px) {
  .team-members {
    flex-direction: column;
  }
}